.landing-brand {

    .btn{
        font-size: $size-btn !important;
        text-transform: uppercase;
        border-radius: $b-radius-min;
        padding: $space-small;
        font-weight: $font-w-medium;
        white-space: normal;
        color: $theme-primary;
        background: $theme-white-0;
        border-color: $theme-white-0;
        cursor: pointer;
        box-shadow: none;
        position: relative;
        letter-spacing: $letter-spa;
        min-width: $space-extra-big;

        &:hover,
        &:active,
        &:focus,
        &:visited {
            text-decoration: none;
            box-shadow: none;
        }

        span {
            @media (max-width: 1024px) {
                display: none;
            }
        }

        &.btn-primary {
            background: $theme-primary;
            border-color: $theme-primary;
            color: $theme-white;

            &:hover,
            &:active,
            &:focus {
                background: darken($theme-primary, 10%);
                border-color: darken($theme-primary, 10%);
            }
        }

        &.btn-outline-primary {
            background: $theme-white-0;
            border-color: $theme-primary;
            color: $theme-primary;

            &:hover,
            &:active,
            &:focus {
                background: $theme-primary;
                border-color: $theme-primary;
                color: $theme-white;
            }

            &.btn-shadow {
                border-color: $theme-white-0;
                background: $theme-white-0;
                min-width: auto;
                padding: $space-small $space-small;
                background: $color-gray;
            }
        }

        &.btn-light {
            background: $theme-white;
            border-color: $theme-white;
            color: $theme-primary;

            &:hover,
            &:active,
            &:focus {
                background: $theme-primary;
                border-color: $theme-primary;
                color: $theme-white;
            }
        }

        &.btn-outline-light {
            background: $theme-white-0;
            border-color: $theme-white-5;
            color: $theme-white;

            &:hover,
            &:active,
            &:focus {
                background: $theme-white;
                border-color: $theme-white;
                color: $theme-primary;
            }
        }
    }

}
