.card {
    margin: 0;
    border: none;

    &.card-pro {
        border-radius: $b-radius-no;
        background: none;
        margin-bottom: $space-big;
        transition: $transition-xs;
        display: block;
        width: 100%;

        @media (max-width: 575px) {
            text-align: center;
        }

        .card-header, 
        .card-body, 
        .card-footer {
            border: none;
            background: none;
            padding: 0;

            .lb-pro-title, 
            .lb-info-title {
                transition: $transition-xs;
            }

            p {
                color: $theme-dark-8;
                font-size: $size-h6;
                line-height: $small-height;
                transition: $transition-xs;

                @media (max-width: 575px) {
                    display: none;
                }
            }
        }

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;

            .card-header, 
            .card-body, 
            .card-footer {
                .lb-pro-title {
                    color: darken($theme-primary, 30%);
                }

                .lb-info-title {
                    color: $theme-dark;
                }

                p {
                    color: $theme-dark-5;
                }
            }
        }
    }
}
