.modal {
    &.modal-video {
        .modal-dialog {
            .modal-content {
                border: none;
    
                .modal-header {
                    border: none;
                    padding: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: 5;
                    background: none;

                    .close {
                        border-radius: 0 0 $b-radius-med 0;
                        color: $theme-white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: $transition-xs;
                        width: $space-med;
                        height: $space-med;
                        padding: 0;
                        background: $theme-dark;
                        background: $theme-primary;
                        margin: 0;
                        opacity: 1;
                        float: left;
                    }
                }

                .modal-body {
                    padding: 0;
                }
            }
        }
    }  
}
