.owl-carousel {
    .owl-nav {
        @media (max-width: 1024px) {
            text-align: center;
        }

        button {
            position: absolute;
            z-index: 5;
            border-radius: $b-radius-max;
            top: 50%;

            width: $space-extra;
            height: $space-extra;
            margin-top: $space-big-n;

            background: $theme-dark-5;
            color: $theme-white;
            transition: $transition-xs;
            outline: none;
            transition: $transition-xs;

            @media (max-width: 1024px) {
                position: relative;
                display: inline-block;
                top: inherit;
                margin-top: $space-small;
            }

            span {
                font-size: $size-h3;
                color: $theme-primary;
                transition: $transition-xs;
            }

            &:hover{
                background: $theme-primary;
                
                span {
                    color: $theme-white;
                }
            }

            &.owl-next {
                right: $space-special-n;
                background: $color-gray;

                @media (max-width: 1400px) {
                    right: $space-normal-n;
                }

                @media (max-width: 1024px) {
                    right: inherit;
                }

                &:hover{
                    background: $theme-primary;
                }
            }

            &.owl-prev {
                left: $space-special-n;
                background: $color-gray;

                @media (max-width: 1400px) {
                    left: $space-normal-n;
                }

                @media (max-width: 1024px) {
                    left: inherit;
                }

                &:hover{
                    background: $theme-primary;
                }
            }
        }
    }

    .owl-dots {
        display: none;
    }
}