// General
.lb-title {
    font-size: $size-h1;
    text-transform: uppercase;
    font-weight: $font-w-light;
    letter-spacing: $letter-spa-big;
    position: relative;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;

    @media (max-width: 993px) {
        text-align: center;
        font-size: $size-h2;
    }

    @media (max-width: 768px) {
        text-align: center;
        font-size: $size-h6;
    }

    span {
        background: $theme-white;
        position: relative;
        z-index: 2;
        padding: 0 $space-small;
    }

    &:before {
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        background: $theme-dark-1;
        z-index: 1;
    }
}

.lb-nov-title {
    font-size: $size-h2;
    font-weight: $font-w-medium;
    margin: 0 0 $space-normal;
    margin-block-start: 0;
    margin-block-end: $space-normal;
}

.lb-sub-title {
    font-size: $size-h1;
    text-transform: uppercase;
    font-weight: $font-w-light;
    letter-spacing: $letter-spa-big;
    position: relative;
    margin: 0 0 $space-normal;
    margin-block-start: 0;
    margin-block-end: $space-normal;

    @media (max-width: 768px) {
        text-align: center;
        font-size: $size-h6;
    }

    span {
        background: $theme-white;
        position: relative;
        z-index: 2;
        padding: 0 $space-small;
    }

    &:before {
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        background: $theme-dark-1;
        z-index: 1;
    }
}

.lb-pro-title {
    font-size: $size-h4;
    font-weight: $font-w-medium;
}

.lb-info-title {
    font-size: $size-h6;
    font-weight: $font-w-bold;
    text-transform: uppercase;
}

p {
    &.lead {
        font-size: $size-lead ;
        font-weight: $font-w-medium;
    }
}