html,
body {

    .landing-brand {
        @include normal-font;
        font-size: $base-font-size;  
        line-height: $base-line-height;

        p {
            font-size: $base-font-size;   
        }

        a {
            transition: $transition-xs;
        
            color: $theme-primary;
            &:hover,
            &:focus {
                color: darken($theme-primary, 30%);
            }
        
        }

        .play-button {
            border-radius: $b-radius-max;
            color: $theme-white;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: $transition-xs;

            .play-button--icon {
                height: auto;
            }

            &.play-button--mini {
                width: $space-extra-big;
                height: $space-extra-big;
                background: $theme-primary-op;

                .play-button--icon {
                    width: $space-small;
                }

                &:hover,
                &:active,
                &:focus {
                    background: $theme-primary;
                }

            }

            &.play-button--max {
                width: $space-long;
                height: $space-long;
                background: $theme-dark;
                position: relative;

                @media (max-width: 993px) {
                    width: $space-extra-big;
                    height: $space-extra-big;
                }

                @media (max-width: 767px) {
                    width: $space-extra;
                    height: $space-extra;
                }
        

                .play-button--icon {
                    width: $space-normal;
                }

                .play-button--text {
                    position: absolute;
                    padding: $space-small;
                    min-width: 100%;
                    transition: $transition-xs;
                    animation: rotation 10s linear infinite;

                    @media (max-width: 993px) {
                        display: none;
                    }
                }

                &:hover,
                &:active,
                &:focus {
                    background: $theme-primary;
                }

            }
        }
    }
}

.video-responsive {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;

    iframe,
    object,
     embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
    }
}
