$base-font-size: 	13px;
$base-line-height: 	1.8;

// this value may vary for each font
// unitless value relative to 1em
$small-height: 		1.6;
$cap-height: 		1.2;
$cap-hero-height: 	1;


@mixin baseline($font-size, $scale: 2) {
	// rhythm unit
	$rhythm: $base-line-height * $font-size / $scale;
	// number of rhythm units that can fit the font-size
	$lines: ceil(($font-size + 0.001px) / $rhythm);
	// calculate the new line-height
	$line-height: $rhythm * $lines / $font-size;
	// use the results
	font-size: $font-size;
	line-height: $line-height;
	$baseline-distance: ($line-height - $cap-height) / 2;
	padding-top: $baseline-distance + em;
	margin-bottom: $base-line-height - $baseline-distance + em;
}

@mixin normal-font() {
	font-family: 'Work Sans', sans-serif;
}

@keyframes rotation {
	from {
	  -webkit-transform: rotate(0deg);
	}
  
	to {
	  -webkit-transform: rotate(359deg);
	}
}