/* variables styles */

/* color */
$theme-primary:       rgba(255, 8, 73, 1);
$theme-primary-op:    rgba(255, 8, 73, 0.5);

$color-green:         rgba(0, 193, 103, 1);
$color-gold:          rgba(255, 220, 115, 1);
$color-gray:          rgba(249, 245, 245, 1);


$theme-dark:     rgba(17, 17, 17, 1);
$theme-dark-8:   rgba(17, 17, 17, .8);
$theme-dark-5:   rgba(17, 17, 73, .5);
$theme-dark-2:   rgba(17, 17, 17, .2);
$theme-dark-1:   rgba(17, 17, 17, .1);
$theme-dark-0:   rgba(17, 17, 17, 0);

$theme-white:     rgba(255, 255, 255, 1);
$theme-white-8:   rgba(255, 255, 255, .8);
$theme-white-5:   rgba(255, 255, 255, .5);
$theme-white-2:   rgba(255, 255, 255, .2);
$theme-white-1:   rgba(255, 255, 255, .1);
$theme-white-0:   rgba(255, 255, 255, 0);

// font path
$font-path:             "../fonts/";
// images path
$image-path:            "../images/";

/* TRANSITIONS */
$transition-xs:   all .2s ease-out;
$transition-bg:   background 600ms ease, color 600ms ease;

// Fonts
$font-w-light:        300;
$font-w-regular:      400;
$font-w-medium:       500;
$font-w-bold:         700;

// Type
$letter-spa:          0.08rem; 
$letter-spa-big:      0.3rem; 

// SIZES
$size-logo-brand:     200px;
$size-logo-brand-m:   160px;
$size-logo-pro:       200px;
$size-logo-pro-m:     100px;

$size-h1:             20px;
$size-h2:             16px;
$size-h3:             20px;
$size-h4:             16px;
$size-h6:             12px;
$size-lead:           16px;
$size-btn:            11px;

/* SPACES */

$space-x-small:       3px;
$space-small:         7.5px;
$space-normal:        15px;
$space-big:           30px;
$space-med:           45px;
$space-extra:         60px;
$space-special:       75px;
$space-extra-big:     90px;
$space-long:          160px;

$space-x-small-n:     -3px;
$space-small-n:       -7.5px;
$space-normal-n:      -15px;
$space-big-n:         -30px;
$space-med-n:         -45px;
$space-extra-n:       -60px;
$space-special-n:     -75px;
$space-extra-big-n:   -90px;
$space-long-n:        -160px;

$space-feature:        600px;

$space-header:         300px;
$space-header-mob:     150px;



/* RADIUS */
$b-radius-no:         0px;
$b-radius-min:        3px;
$b-radius-med:        25px;
$b-radius-max:        300px;

/* OPACITY */
$opo-ico:           0.95;
$opo-min:           0.4;
$opo-img:           0.6;

/* shadow */
$shadow-normal:   0px 1px 17px 0px rgba(0,0,0,0.17);
$shadow-big:      0px 11px 50px -19px rgba(0,0,0,0.75);
$shadow-btn:      0px 6px 21px -8px rgba(0,0,0,0.57);