.col-family-pro {
    max-width: 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    display: flex;

    img {
        max-width: 100%;
    }

    @media (max-width: 1200px) {
        max-width: 33%;
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;

    }

    @media (max-width: 768px) {
        max-width: 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }

    @media (max-width: 575px) {
        max-width: 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
}