.landing-brand {
    padding-top: $space-big;
    padding-bottom: $space-big;

    header {
        &.landing-brand--header {
            .landing-brand--header---logo {
                @media (max-width: 767px) {
                    text-align: center;
                }

                img {
                    width: $size-logo-brand;
                    max-width: 100%;
                    height: auto;

                    @media (max-width: 767px) {
                        margin-bottom: $space-normal;
                        width: $size-logo-brand-m;
                    }
                }
            }

            .landing-brand--header---title {
                display: flex;
                align-items: center;

                .lb-title {
                    width: 100%;
                    margin-top: $space-small;
                }
            }
            .landing-brand--header---cta{
                transition: $transition-xs;
                z-index: 6;

                .btn-primary {
                    @media (max-width: 767px) {
                        width: 90%;
                    } 
                    
                    @media (max-width: 575px) {
                        width: 80%;
                    }
                }

                &.sps--blw {
                    position: fixed;
                    right: $space-normal;
                    top: 120px;
                    box-shadow: $shadow-big;

                    @media (max-width: 767px) {
                        right: 0;
                        top: inherit;
                        box-shadow: $shadow-big;
                    }
                }

                @media (max-width: 767px) {
                    position: fixed;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    top: inherit;
                    background: $theme-white-8;
                    z-index: 5;
                    padding: $space-normal;
                    box-shadow: $shadow-big;
                }
            }
            
        }
    }

    section {
        padding-top: $space-big;
        padding-bottom: $space-big;
        margin-top: $space-extra;
        margin-bottom: $space-extra;

        @media (max-width: 1024px) {
            margin-top: $space-normal;
            margin-bottom: $space-normal;
        }

        &.s-white {
            color: $theme-dark;

            .lb-title {
                color: $theme-dark-5;
            }

            .lb-nov-title {
                color: $theme-primary;
            }

            .lb-sub-title {
                color: $theme-dark-8;
            }

            .lb-pro-title {
                color: $theme-primary;
            }

            .lb-info-title {
                color: $theme-dark-5;
            }

            p {
                &.lead {
                    color: darken($theme-primary, 30%);

                    @media (max-width: 768px) {
                        text-align: center;
                        max-width: 420px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
        &.s-black {
            color: $theme-white;

            .lb-title {
                color: $theme-white-5;
            }

            .lb-nov-title {
                color: $theme-primary;
            }

            .lb-sub-title {
                color: $theme-white-5;
            }

            .lb-pro-title {
                color: $theme-primary;
            }

            .lb-info-title {
                color: $theme-white-5;
            }

            p {
                &.lead {
                    color: $theme-white-5;
                }
            }
        }

        &.landing-brand--multimedia {
            .landing-brand--multimedia---item {
                display: block;
                position: relative;
                display: block;

                .play-button {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 1;
                    margin-left: $space-med-n;
                    margin-top: $space-med-n;
                }
            }
        }

        &.landing-brand--novelty {
            margin-top: 0;

            .landing-brand--novelty----banner {
                padding: 0;

                img {
                    max-width: 100%;
                }

                .landing-brand--novelty----logo {
                    width: $size-logo-pro;
                    position: absolute;
                    top: 20%;
                    left: 20%;

                    @media (max-width: 767px) {
                        width: $size-logo-pro-m;
                        top: 30%;
                        left: 12%;
                    }
                }
            }

            .landing-brand--novelty----content {
                margin-bottom: $space-normal;

                .landing-brand--novelty----description {
                    padding-top: $space-normal;
                    padding-bottom: $space-normal;

                    @media (max-width: 767px) {
                        text-align: center;
                    }
                }
    
                .landing-brand--novelty----product {
                    text-align: center;
                    img {
                        max-width: 100%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }

            .landing-brand--novelty---feature {
                position: relative;

                .play-button {
                    position: absolute;
                    z-index: 5;
                    top: $space-normal-n;
                    left: $space-big-n;

                    @media (max-width: 1200px) {
                        left: $space-normal-n;
                    }

                    @media (max-width: 993px) {
                        left: $space-normal;
                    }
                }
                .landing-brand--novelty----banner {
                    min-height: 360px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;

                    @media (max-width: 767px) {
                        min-height: 280px;
                    }

                    @media (max-width: 575px) {
                        min-height: 320px;
                    }
                }
                .landing-brand--novelty----content {
                    .landing-brand--novelty----product {
                        img {
                            margin-top: $space-special-n;

                            @media (max-width: 575px) {
                                margin-top: $space-extra-big-n;
                            }
                        }
                    } 
                }  
            }

            .landing-brand--novelty---normal {
                .landing-brand--novelty----banner {
                    min-height: 300px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                .landing-brand--novelty----content {
                    background: $color-gray;
                    margin-top: $space-long-n;
                    margin-left: $space-small-n;
                    margin-right: $space-small-n;

                    @media (max-width: 767px) {
                        margin-top: $space-extra-n;
                    }

                    .landing-brand--novelty----product {
                        text-align: right;

                        @media (max-width: 1024px) {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
    
                        img {
                            margin: 0 $space-big-n $space-extra-n 0;

                            @media (max-width: 1024px) {
                                margin: $space-normal auto;
                            }

                            @media (max-width: 767px) {
                                margin: $space-normal auto $space-normal-n;
                            }
                        }
                    }
                } 
            }
        }

        &.landing-brand--branzone {
            @media (max-width: 993px) {
                text-align: center;
            }

            article {
                @media (max-width: 993px) {
                    margin-bottom: $space-normal;
                }
            }

            .landing-brand--branzone---logo {
                width: $size-logo-brand;
                max-width: 100%;
                height: auto;
                margin: 0 0 $space-normal;

                @media (max-width: 993px) {
                    margin: 0 auto $space-normal;
                } 
            }

            .landing-brand--branzone---img {
                line-height: 0;
                img {
                    max-width: calc(100% + 30px);
                    box-shadow: $shadow-big;

                    @media (max-width: 1240px) {
                        max-width: calc(100% + 20px);
                    }

                    @media (max-width: 1200px) {
                        max-width: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}